html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #e8e8e8b3 ;
  border-radius: 2rem;
  background: linear-gradient(transparent 80%, #4049cbc7);
  background-repeat: no-repeat;
  box-shadow: 3px 3px 1px 0px #e8e8e8b3;
  transition: all 0.3s ease-in-out;
}


input[type="range"]:active{
  transform: translate(3px, 3px);
  border: 1px solid #4049cbc7 ;
  box-shadow: 0px 0px 1px 0px #e8e8e8b3;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  background: radial-gradient(#e8e8e8b3 30%, transparent 25%);
  cursor: ew-resize;
  box-shadow: none;
}

input[type="range"]::-webkit-slider-thumb:active {
  height: 20px;
  width: 20px;
  background: radial-gradient(#4049cbc7 30%, transparent 20%);
 
}

input[type=range]::-webkit-slider-runnable-track  {
  padding: 0 4px 0 3px;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}